.footer-container {
    width: 100vw;
    display: flex;
    justify-content: end;
    bottom: 0;
    z-index: 1;
    position: fixed;
}

.footer,
a {
    padding: 5px;
    color: white;
    font-size: large;
    font-weight: normal;
}

a {
    font-weight: bold;
}